@use '../abstracts/' as abstract;

body {
    font-family: abstract.$font-family-default;
    font-size: abstract.$font-size-default;
    color: abstract.color-get(primary);
    margin: 0;
}

.site-title {
    &__xxxl {
        @include abstract.font-assign(3.25rem, 700, 1.2); //52px
    }

    &__xxl {
        @include abstract.font-assign(3rem, 700, 1.2); //48px
    }

    &__xl {
        @include abstract.font-assign(2rem, 700, 1.17); //32px
    }

    &__lg {
        @include abstract.font-assign(1.5rem, 700, 1); //24px
    }

    &__md {
        @include abstract.font-assign(1.125rem, 700, 1.2); //18px
    }

    &__sm {
        @include abstract.font-assign(1rem, 700, normal); //16px
    }

    @include abstract.media-min(md) {
        &__xxxl {
            @include abstract.font-assign(3.75rem, 700, 1.2); //60px
        }

        &__xxl {
            @include abstract.font-assign(3.625rem, 700, 1.5); //58px
        }

        &__xl {
            @include abstract.font-assign(2.5rem, 700, 1.2); //40px
        }

        &__lg {
            @include abstract.font-assign(2rem, 700, 1.2); //32px
        }

        &__md {
            @include abstract.font-assign(1.5rem, 700, 1.2); //24px
        }

        &__sm {
            @include abstract.font-assign(1.125rem, 700, normal); //18px
        }
    }
}

.site-subtitle {
    line-height: 1.2;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px 8px 8px;
    width: max-content;
    margin-bottom: 14px;

    h4 {
        font-weight: 600;
    }

    &.text-center {
        justify-content: center;
        margin: auto;
    }
}