@use 'sass:color';

/** Font Variables*/
$font-poppins: "Poppins", sans-serif;
$font-family-default: $font-poppins;
$font-family-title: $font-poppins;
$font-size-default: 16px;
$font-size-title: 18px;

// Replace Color Map with this 
/** 
#211F1F
#F0A500
#E45826
#FFFFFF
#FFFCF5
#E6D5B8
#6D6D6D
#A7A7A7
#B5B5B5
#EBEBEB
**/

$primary-color: #211F1F;
$secondary-color: #F0A500;
$tertiary-color: #E45826;
$white: #FFFFFF;
$shadow-color:  #FFFCF5;

$lighten: 5%;
$darken: 25%;


/** Color Map **/
$colors: (
    primary: (
        base: $primary-color,
        light: color.adjust($primary-color, $lightness: $lighten),
        darken: color.adjust($primary-color, $lightness: -$darken)
    ),
    secondary: (
        base: $secondary-color,
        light: color.adjust($secondary-color, $lightness: $lighten),
        darken: color.adjust($secondary-color, $lightness: -$darken)
    ),
    tertiary: (
        base: $tertiary-color,
        light: color.adjust($tertiary-color, $lightness: $lighten),
        darken: color.adjust($tertiary-color, $lightness: -$darken)
    ), 
    gray: (
        1: #6D6D6D,
        2: #A7A7A7,
        3: #B5B5B5,
        4: #EBEBEB,
        5: #E6D5B8
    )
);

/** Global Transition **/
$default-transition: .3s cubic-bezier(.4, 0, .2, 1) !default;
$hover-transition: .3s ease-out !default;

/** Breakpoints **/
$breakpoints: (
  'xsm': 320px,
  'sm': 767px,
  'md': 1024px,
  'lg': 1199px,
  'xl': 1336px,
  'xxl': 1440px
) !default;

$containers: (
    'lg': 1200,
) !default;

$padding: (
    'sm': 20px,
    'md': 32px
) !default;
